body {
    background : url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg") no-repeat center center fixed;
    background-color: black;
}

.logo {
    margin-left: 10px;
    height: 50px;
}

.background-text {
    text-align: center;
    background-color: black;
    color: seashell;
}





