/* body {
    background : url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg") no-repeat center center fixed;
    background-color: black;
} */

header {
    display: flex;
    width: 100%;
    position: fixed;
    left: 0;
    justify-content: space-between;
    border: 1px solid black;
    background-color: black;
    border-bottom: 1px solid seashell;
    height: 69px;
  }

  li {
    display: inline-flex;
    color: seashell;
    text-decoration: underline;
    font-family: Helvetica;
    font-size: 22px;
    text-align: center;
  }

  .logo {
    height: 50px;
  }





